* {
    font-size: 13px;
}

@font-face {
    font-family: font500;
    src: url(./assest/fonts/BarlowSemiCondensed-Medium.ttf);
}

@font-face {
    font-family: font600;
    src: url(./assest/fonts/BarlowSemiCondensed-SemiBold.ttf);
}

.name,
.main-text {
    font-family: font600;
}

.role,
.secondary-text {
    font-family: font500;
}

.person {
    border: 2px solid none;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 20px 20px 100px hsl(224, 10%, 45%);
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}